<h1><%= current_user.username %>様のマイページ</h1>
<%= link_to "編集", edit_user_path %>
<% if current_user.userimage.attached? %>
	<%= image_tag current_user.userimage.variant(resize_to_limit: [200, 200]) %>
<% end %>
<%= button_to "このアカウントを削除する", user_path(current_user.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>

