/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .  
 *= require_self
 */

@import "bootstrap";

.navbar {
  background-color: rgba(255,204,204,0.3);
  background-blend-mode:lighten;
}
body {
	height: 100%;
  background-image: image-url('top_image.jpg');
  background-size: cover;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  }

.container{
  text-align: center;
  margin: 30px;
  }

.field {
  width: 100%;
  max-width: 370px;
  padding: 10px;
  margin: auto;
}

.form-check {
  font-weight: 400;
}

.form-floating:focus-within {
  z-index: 2;
}

input{
  width: 370px;
  padding: 10px 15px;
  font-size: 16px
}

// .form-floating input[type="email"] {
//   margin-bottom: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }

// .form-floating input[type="password"] {
//   margin-bottom: 10px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }

.alert li{
  list-style: none;
}
.table{
  text-align: center;
}
table th {
  background-color: #FFFFCC; padding:10px 20px;
}
table td{
  background-color: #FFFFDD; padding:10px 20px;
}

#map{
  height: 300px;
  width: 500px;
}

